/* 
================================
01. GOOGLE FONT
02. FONT FAMILY
03. CUSTOM CLASS
================================
*/

/* GOOLE FONT: POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT FAMILY */
body {
  font-family: "Poppins", sans-serif;
}

/* GRADIENT ANIMATION */
.text__gradient {
  background: linear-gradient(
    to right,
    #ff00d2,
    #00a2ff,
    #09f1b8,
    #ff00d2,
    #00a2ff,
    #09f1b8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 300% 300%;
  animation: text__animation 8s ease-in-out infinite;
}

/* Animation */
@keyframes text__animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
